<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hlocal</title>
	<link rel="stylesheet" href="./css/normalize.css">
	<link rel="stylesheet" href="./css/icomoon.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<div id="wrapper">
		<header>
			<!-- <header> -->
				<div class="transparent-wrapper">
					<div class="header-top">
						<div class="header-lang">
							<a class="header-lang__item" href="#">Ук</a>
							<a class="header-lang__item" href="#">Ру</a>
							<a class="header-lang__item active" href="#">En</a>
						</div>
						<address class="header-top__address">Kyiv, Mechnikova str., 14/1</address>
						<a class="header-top__tel" href="tel.:0800211927">0800 211 927</a>
						<a class="header-top__fb" href="#"><span class="icon-Facebook"></span></a>
					</div>
				</div>
				<div class="header-bottom">
					<a class="header-bottom__logo" href="index.html"><img class="logo-img" src="./images/logo.svg" alt="hlegal"></a>
					<nav class="header-menu-wrapper">
						<input type="checkbox" id="opener">
						<label class="opener" for="opener">
							<span></span>
						</label>
						<ul class="header-menu">
							<li class="header-menu__item"><a href="#">about us</a></li>
							<li class="header-menu__item"><a href="services.html">services</a></li>
							<li class="header-menu__item"><a href="#">team</a></li>
							<li class="header-menu__item"><a href="#">publications</a></li>
							<li class="header-menu__item"><a href="#">contact</a></li>
						</ul>
					</nav>
				</div>
			<!-- </header> -->
		</header>

		<!--Main start-->
		<main>
			<div class="top-container central-wrapper">
				<div class="main-screen">
					<div class="main-screen__logo-bg">
						<img class="logo-img" src="./images/symbol.svg" alt="hlegal">
					</div>
					<div class="main-screen__content">
						<h1 class="main-title">you legal solutions provider</h1>
					</div>
					<a class="main-screen__arrow-link" href="#tabs-container"></a>
				</div>
				<!-- Tabs start -->
				<div id="tabs-container" class="tabs-container" >
					<div class="tabs">
						<input type="radio" id="tab1" name="tab" checked>
						<input type="radio" id="tab2" name="tab">
						<input type="radio" id="tab3" name="tab">
						<input type="radio" id="tab4" name="tab">
						<div class="tabs-links">
							<ul class="tabs-links__list">
								<li>
									<label for="tab1"><span>Consistent</span></label>
								</li>
								<li>
									<label for="tab2"><span>Customer oriented</span></label>
								</li>
								<li>
									<label for="tab3"><span>Innovative</span></label>
								</li>
								<li>
									<label for="tab4"><span>Business oriented</span></label>
								</li>
							</ul>
	
						</div>
						<div class="tabs-info">
							<div class="tabs-info__item" id="tab-item1">
								<h3>We turn the idea of legal services</h3>
								<p>Consolidating many years of experience and practice, the company's lawyers accompany complex projects and achieve a number of important decisions for the industry. Many of them form the practice of applying the law of the sea in Ukraine.</p>
							</div>
							<div class="tabs-info__item" id="tab-item2">
								<h3>We turn the idea</h3>
								<p>Consolidating many years of experience and practice, the company's lawyers accompany complex projects and achieve a number of important decisions for the industry. </p>
							</div>
							<div class="tabs-info__item" id="tab-item3">
								<h3>We turn</h3>
								<p>Many of them form the practice of applying the law of the sea in Ukraine.</p>
							</div>
							<div class="tabs-info__item" id="tab-item4">
								<h3>We turn the idea</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis tempora quasi quibusdam! Cum eligendi culpa suscipit repudiandae magnam fuga ea modi quae blanditiis aut quod id consectetur voluptatum, porro repellat.</p>
							</div>
	
						</div>
					</div>
				</div>
				<!-- Cards start -->
				<div class="services-cards">
					<a class="page-link" href="services.html">Services</a>
					<h2>What can we do better than others?</h2>
					<div class="services-list">
						<div class="services-list__item">
							<img src="./images/card-1.svg" alt="card-icon" class="services-list__img">
							<h3 class="services-list__title">IT and e-commerce</h3>
							<p class="services-list__info">An endless stream of contracts, tax issues, labor relations, corporate papers - legal work distracts you from doing business. But there is not much work to do to hire an in-house lawyer.</p>
						</div>
						<div class="services-list__item">
							<img src="./images/card-2.svg" alt="card-icon" class="services-list__img">
							<h3 class="services-list__title">Comprehensive daily legal support</h3>
							<p class="services-list__info">In addition, over time, the work will become the same type and uninteresting for a full-time lawyer. And we know very well how difficult it is to find a good candidate with experience in the field of information technology in Ukraine.</p>
						</div>
						<div class="services-list__item">
							<img src="./images/card-3.svg" alt="card-icon" class="services-list__img">
							<h3 class="services-list__title">Structuring corporate relationships</h3>
							<p class="services-list__info">Instead of just providing legal services, we will hire a lawyer or a whole team that will fit into the daily life of your company.</p>
						</div>
						<div class="services-list__item">
							<img src="./images/card-4.svg" alt="card-icon" class="services-list__img">
							<h3 class="services-list__title">Building contractual relations</h3>
							<p class="services-list__info">Once a week, or week after month, you have your own lawyer by your side. Anyone in the company can catch it at the coffee maker and just talk about current affairs instead of waiting for update status.</p>
						</div>
						<div class="services-list__item">
							<img src="./images/card-5.svg" alt="card-icon" class="services-list__img">
							<h3 class="services-list__title">Protection of business, intellectual property</h3>
							<p class="services-list__info">And all the other time he will work on new diverse projects, so he will definitely not stop in professional development. One way or another, all Axon Partners will work for you instead of a corporate lawyer.</p>
						</div>
						<div class="services-list__item">
							<img src="./images/card-6.svg" alt="card-icon" class="services-list__img">
							<h3 class="services-list__title">Judicial representation</h3>
							<p class="services-list__info">Is it a small, medium-sized company or a market leader? Local business or multinational company? Do you have your own legal department or not?</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Swiper start -->
			<div class="swiper-section central-wrapper">
				<!-- Slider main container -->
				<div class="swiper mySwiper">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						<!-- Slides -->
						<div class="swiper-slide">
							<div class="swiper-flex-wrapper">
								<div class="swiper-slide__img-wrapper">
									<img class="swiper-slide__img" src="./images/Team-1.jpg" alt="Team-photo">
								</div>
								<div class="swiper-slide__content">
									<a class="swiper-slide__link page-link" href="#">Команда</a>
									<blockquote class="swiper-slide__info">
										<h2>Ми звикли брати на себе відповідальність та завжди 
											гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, 
											коли більшість безсилі.
										</h2>
									</blockquote>
									<cite>
										Олександр Олександровський<br>
										<span>Керуючий партнер</span>
									</cite>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="swiper-flex-wrapper">
								<div class="swiper-slide__img-wrapper">	
									<img class="swiper-slide__img" src="./images/Team-4.jpg" alt="Team-photo">
								</div>
								<div class="swiper-slide__content">
									<a class="swiper-slide__link page-link" href="#">Команда</a>
									<blockquote class="swiper-slide__info">
										<h2>Ми звикли брати на себе відповідальність та завжди 
											гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, 
											коли більшість безсилі.
										</h2>
									</blockquote>
									<cite>
										Олександр Гончар<br>
										<span>Партнер</span>
									</cite>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="swiper-flex-wrapper">
								<div class="swiper-slide__img-wrapper">
									<img class="swiper-slide__img" src="./images/Team-5.jpg" alt="Team-photo">
								</div>
								<div class="swiper-slide__content">
									<a class="swiper-slide__link page-link" href="#">Команда</a>
									<blockquote class="swiper-slide__info">
										<h2>Ми звикли брати на себе відповідальність та завжди 
											гарантуємо чесну, вчасну допомогу, навіть у ситуаціях, 
											коли більшість безсилі.
										</h2>
									</blockquote>
									<cite>
										Софія Кулик<br>
										<span>Партнер</span>
									</cite>
								</div>
							</div>
						</div>
					</div>
					<!-- If we need pagination -->
					<div class="swiper-pagination"></div>
				</div>
			</div>
	<!-- Companies start -->
			<div class="companies-wrapper">
				<h3>They already trust us</h3>
				<div class="companies-list">
					<a class="companies-list__link companies-list__link1" href="#">
						<img src="./images/companies/hillel.svg" alt="hillel" class="companies-list__img">
					</a>
					<a class="companies-list__link companies-list__link2" href="#">
						<img src="./images/companies/wannabiz.svg" alt="wanna" class="companies-list__img">
					</a>
					<a class="companies-list__link companies-list__link3" href="#">
						<img src="./images/companies/tapgerine.svg" alt="tap" class="companies-list__img">
					</a>
					<a class="companies-list__link companies-list__link4" href="#">
						<img src="./images/companies/3Dlook.svg" alt="3D" class="companies-list__img">
					</a>
					<a class="companies-list__link companies-list__link5" href="#">
						<img src="./images/companies/orangear.svg" alt="orange" class="companies-list__img">
					</a>
					<a class="companies-list__link companies-list__link6" href="#">
						<img src="./images/companies/adtelligent.svg" alt="" class="companies-list__img">
					</a>
					<a hidden class="companies-list__link companies-list__link7" href="#">
						<img src="./images/companies/clickky.svg" alt="clickky" class="companies-list__img">
					</a>
					<a hidden class="companies-list__link companies-list__link8" href="#">
						<img src="./images/companies/eco-leasing.svg" alt="eco" class="companies-list__img">
					</a>
					<a hidden class="companies-list__link companies-list__link9" href="#">
						<img src="./images/companies/ingratek.svg" alt="infra" class="companies-list__img">
					</a>
					<a hidden class="companies-list__link companies-list__link10" href="#">
						<img src="./images/companies/city-par.svg" alt="city" class="companies-list__img">
					</a>
					<a hidden class="companies-list__link companies-list__link11" href="#">
						<img src="./images/companies/artprint.svg" alt="art" class="companies-list__img">
					</a>
					<a hidden class="companies-list__link companies-list__link12" href="#">
						<img src="./images/companies/ultimatecard.svg" alt="card" class="companies-list__img">
					</a>

				</div>
			</div>
	<!-- Publications start -->
			<div class="publications-wrapper central-wrapper">
				<a href="#" class="page-link publications-link">Publications</a>
				<h2>We have something to tell</h2>
				<div class="publications-list">
					<a href="#" class="publications-list__item">
						<img src="./images/publications/Cover1.png" alt="Cover-1" class="publications-list__item-img">
						<div class="publications-list__item-content">
							<h4>Equity associate</h4>
							<time datetime="2022-04-22">April 22</time>
							<p>I'm a jun on projects. I am a co-owner of a law firm. How it happened. Before entering my parents told me that if I…</p>
						</div>
					</a>
					<a href="#" class="publications-list__item">
						<img src="./images/publications/Cover2.png" alt="Cover-2" class="publications-list__item-img">
						<div class="publications-list__item-content">
							<h4>Penalty for the Good Corporation: what will happen to Google and others for violating the GDPR</h4>
							<time datetime="2022-09-29">September 29</time>
							<p>And why the recovery of 50 million euros could be a fateful precedent According to Mind.ua January 21 National Commission for Data Protection.</p>
						</div>
					</a>
					<a href="#" class="publications-list__item">
						<img src="./images/publications/Cover3.png" alt="Cover-3" class="publications-list__item-img">
						<div class="publications-list__item-content">
							<h4>Millennial Testament</h4>
							<time datetime="2022-08-19">August 19</time>
							<p>What and how modern vloggers, opinion leaders and crypto-millionaires will inherit A typical legacy of the Ukrainian generation X looks like this: an apartment in…</p>
						</div>
					</a>
				</div>
			</div>
		</main>
		<footer>
			<div class="footer-wrapper central-wrapper">
				<div class="footer-contacts">
					<div class="footer-line">
						<address>Kyiv, Mechnikova str., 14/1</address>
						<a href="#" class="footer-contacts__map">On map</a><br>
					</div>
					<div class="footer-line">
						<a href="#" class="footer-contacts__fb">
							<span class="icon-Facebook"></span>
						</a>
						<a href="tel.:0800211927" class="footer-contacts__tel">0800 211 927</a>
						<a href="mailto:contact@forstudy.space" class="footer-contacts__email">contact@forstudy.space</a>
					</div>
				</div>
				<div class="footer-rights">
					<p>© 2021 HLEGAL Law company, LLC</p>
				</div>
			</div>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
	<script>
		var swiper = new Swiper(".mySwiper", {
		  spaceBetween: 30,
		  pagination: {
			el: ".swiper-pagination",
			clickable: true,
		  },
		});
	  </script>
</body>
</html>