// -----------------------------------------------------------------------------
// This file contains all styles related to the common layout of the site
// -----------------------------------------------------------------------------

:root {
  --main-color: #ffffff;
  --accent-color: #f1135a;
  --accent-active-color: #f0145a; 
  --active-color: #24A3FF;
  --bg-header: rgba(245, 245, 250, 0.2);
  --bg-gradient: linear-gradient(45deg, rgba(100,62,114,1) 0%,rgba(50,50,100,1) 48%,rgba(50,50,100,1) 100%);
  --bg-color: rgb(51,51,100);
  --bg-add-color: #F5F5FA;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

#wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}


.central-wrapper {
  padding-left: 30px;
  padding-right: 30px;

    @media (min-width: 768px) {
      padding-left: 60px;
      padding-right: 60px;
    }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-color);
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  
  @media (min-width: 768px) {
    font-size: 38px;
    line-height: 46px;
  }
}

.pink-gradient {
  background: linear-gradient(to left, #EF8080 0%, #F0145A 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.page-link {
  margin-bottom: 10px;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: var(--active-color);

  &::after {
      content: "";
      position: absolute;
      top: 4px;
      right: -10px;
      width: 5px;
      height: 5px;
      border-top: 2px solid var(--active-color);
      border-right: 2px solid var(--active-color);
      transform: rotate(45deg);
  }

  &:hover {
      color: var(--accent-active-color);
      transition: color .1s linear;

      &::after {
          border-color: var(--accent-active-color);
          transition: border .1s linear;
      }
  }
}

